<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Name</th>
      <th scope="col">Mathematics</th>
      <th scope="col">English</th>
      <th scope="col">Programming</th>
      <th scope="col">Economics</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <th scope="row">{{student.number}}.</th>
      <td>{{student.name}}</td>
      <td>{{student.mathematics}}</td>
      <td>{{student.english}}</td>
      <td>{{student.programming}}</td>
      <td>{{student.economics}}</td>
    </tr>
  </tbody>
</table>
